absl-py
astunparse
cached-property
cachetools
certifi
charset-normalizer
clang
flatbuffers
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
idna
importlib-metadata
keras
Keras-Preprocessing
Markdown
numpy
oauthlib
opt-einsum
protobuf
pyasn1
pyasn1-modules
pygame
requests
requests-oauthlib
rsa
six
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
termcolor
typing-extensions
urllib3
Werkzeug
wrapt
zipp
